
// Body
$body-bg: #f5f8fa;
$black: #000;


// Typography
$font-family-sans-serif: "Heebo", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$navbar-light-color:                rgba($black, .7) !default;
$navbar-light-hover-color:          rgba($black, .8) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
